[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nose = "*"

[packages]
marmopy = {path = "."}

[requires]
python_version = "2.7"
web3 = "3.16.5"
rlp = "0.6.0"
pycryptodome = "3.7.2"
coincurve = "11.0.0"
eth-utils = "~=0.8.1"
